.root {
  /*-fx-background-image: url("turtle-image.jpg");*/
  -fx-background-color: #012169;
}

.scene {
  -fx-background-color: #012169;
}

.combo-box .list-cell {
  -fx-text-fill: #E2E6ED;
  -fx-padding: 3 0 2 7;
  -fx-alignment: center;
}


.combo-box {
  -fx-font-size: 12px;
  -fx-fill: #702121;
  -fx-text-fill: #012169;
  -fx-font-family: "Arial";
  -fx-font-weight: bold;
  -fx-text-alignment: center;
  -fx-alignment: CENTER;
  -fx-content-display: CENTER;
  -fx-background-color: linear-gradient(#e5aea2, #EF350E);
  -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 0, 0, 0, 1);
}

.combo-box-popup .list-cell {
  -fx-background-color: #E2E6ED;
  -fx-text-fill: #012169;
  -fx-padding: 3 0 2 7;
  -fx-alignment: center;
}

.combo-box-popup .list-view
{
  -fx-background-color: white, white;
  -fx-background-insets: 0, 1;
  -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
}

.combo-box-popup .list-view .list-cell
{
  -fx-padding: 4 0 4 5;
  /* No alternate highlighting */
  -fx-background-color: white;
}
.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover
{
  -fx-background: -fx-accent;
  -fx-background-color: #A1B70D;
  -fx-text-fill: -fx-selection-bar-text;
}

.combo-box-popup .list-view .list-cell:filled:hover
{
  -fx-background-color: #339898;
  -fx-text-fill: -fx-text-inner-color;
}

.combo-box-base:hover
{
  -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

.scroll-pane{
  -fx-font-size: 12px;
  -fx-fill: #702121;
  -fx-text-fill: #012169;
  -fx-font-family: "Arial";
  -fx-font-weight: bold;
  -fx-text-alignment: center;
  -fx-background-color: linear-gradient(#e5aea2, #EF350E);
  -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 0, 0, 0, 1);
}

#game-grid{
  -fx-background-fill: white, black ;
  -fx-background-insets: 0, 2 ;
  -fx-background-color: white ;
  -fx-padding: 7 ;
}

#panel-title-colour-box{
  -fx-fill: linear-gradient(#e5aea2, #EF350E);
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

.label {
  -fx-font-size: 12px;
  -fx-font-weight: bold;
  -fx-text-fill: #333333;
  -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 0, 0, 0, 1);
}

#dropdown-label {
  -fx-text-fill: #012169;
  -fx-font-weight: bold;
}

#control-panel {
  -fx-fill: grey;
}

.button {
  -fx-text-fill: #E2E6ED;
  -fx-font-family: "Arial";
  -fx-font-weight: bold;
  -fx-background-color: linear-gradient(#e5aea2, #EF350E);
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

.button:hover {
  -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

#boundary-line {
  -fx-stroke: white;
  -fx-stroke-width: 3;
}

#panel-title-text {
  -fx-font-family: "Arial";
  -fx-font-size: 14px;
  -fx-stroke: #E2E6ED;
  -fx-fill: #E2E6ED;
}

#information-text {
  -fx-font-family: "Arial";
  /*-fx-font-weight: medium;*/
  -fx-font-weight: bold;
  -fx-font-size: 14px;
  -fx-text-fill: yellow;
}

#cell-view {
  -fx-stroke: white;
}

#highlighted-cell-view {
  -fx-background-fill: black, red ;
  -fx-background-insets: 4, 10;
  -fx-background-color: red ;
  -fx-padding: 4 ;
}

#game-title-text {
  -fx-font-size: 45px;
  -fx-font-family: Chomsky;
  -fx-fill: red;
}

#game-subtitle-text {
  -fx-font-size: 25px;
  -fx-font-family: "American Typewriter";
  -fx-fill: white;
}

#letter-label-colour-box {
  -fx-fill: #993399;
}

#letter-label-text {
  -fx-stroke: white;
  -fx-font-family: Arial;
}